.top-list {
  display: flex;
  list-style: none;
  flex-wrap: nowrap;
  justify-content: center;
  margin: 25px 0;
}

.list-item {
  border-right: solid 2px #d4d4d4;
  background-color: #d4d4d4;
  padding: 15px;
  border-right: 1px solid #f4f7fa;
  color: #fffcf4;
  font-size: large;
}

.active,
.list-item:hover {
  background-color: #f46a29;
  transition: ease-in 0.5s;
}

.pannel {
  background-color: #fff;
  width: 80%;
  margin: auto;
  padding: 30px 30px;
  border-radius: 6px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
}

.head {
  font-family: Mitr, sans-serif;
  color: #f46a29;
}

.btn-secondary {
  color: #fff;
  background-color: #f46a29;
  border-color: #f46a29;
}
